/clase1/clase1/nbproject/private/
/clase1/clase1/build/
/clase1/estructura_datos/nbproject/private/
/clase1/estructura_datos/build/
/clase1/Clase_2/nbproject/private/
/clase_2/nbproject/private/
/clase_2/build/
/Deber/nbproject/private/
/Deber/build/
/Deber_1/nbproject/private/
/Deber_1/build/
/Ejemplo/nbproject/private/
/Proyecto/nbproject/private/
/Proyecto_Estructura/nbproject/private/
/Proyecto_Estructura/build/
/Clase_4_PA/nbproject/private/
/Clase_4_PA/build/
/Tarea_Extraclase_3/nbproject/private/
/Tarea_Extraclase_3/build/
/determinante/nbproject/private/
/determinante/build/
/Examen_primer_parcial/nbproject/private/
/Examen_primer_parcial/build/
/ExamenParcial/nbproject/private/
/ExamenParcial/build/
/Herencias/nbproject/private/
/Herencias/build/
/Clase_6/nbproject/private/
/Clase_6/build/