/clase1/clase1/nbproject/private/
/clase1/clase1/build/
/clase1/estructura_datos/nbproject/private/
/clase1/estructura_datos/build/
/clase1/Clase_2/nbproject/private/
/clase_2/nbproject/private/
/clase_2/build/